<% storyList.forEach(function(story){ %>
<article class="content-card">
     <div class="card-info">
         <span class="card-category"><%=story.category_name %></span>
         <h3 class="card-title"><%=story.title %></h3>
         <p class="card-excerpt"><%=story.excerpt %></p>
         <div class="card-meta">
             <div class="account-name"><%=story.category_name %></div>
             <div class="card-stats">
                 <span><i class="far fa-file-alt"></i> <%=story.length %>字</span>
             </div>
         </div>
     </div>
 </article>
 <% }); %>

<noscript>
  <% for(let i = 2; i <= totalPages; i++) { %>
      <a href="/story/list/<%=activeCategoryId%>/<%= i %>">第 <%= i %> 页</a>
  <% } %>
</noscript>

